@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

body {
    width: 100vh;
    height: 100vh;
}

head {
    background-image: url('images/bg-hero-desktop.svg');
    /* width: 100%; */
    /* height: 500px; */
    /* width: 100vh; */
    height: 80vh;
    /* width: 100%; */
}

header {
    padding: 2%;
    height: 10%;
    margin: 14px;
    width: 100vh;
    /* width: 100%; */
}

header ul {
    display: flex;
    justify-content: space-between;
}

header ul li {
    text-decoration: none;
    list-style: none;
    display: inline;
}

.community {
    display: flex;
    /* width: 100%; */
    height: 80%;
    width: 70vh;
    margin: auto;
    justify-items: center;
    padding: 10px;
}

.com_left {
    width: 60%;
    /* padding: 30px; */
}

.com_right {
    width: 40%;
    /* padding: 30px; */
    /* background-image: url(images/illustration-mockups.svg);
    background-size: cover; */
    height: 100%;
    /* margin-right: 50px; */
}

main {
    background-color: white;
}

h4 {
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.sec {
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 250px;
    /* width: 100%; */
    width: 100vh;
    /* margin: 20px; */
    margin: auto;
    /* text-align: center; */
    /* justify-items: center; */
    margin-top: 20px;
    background-color: white;
    margin-bottom: 10px;
    padding: 20px;

}

.growleft {
    width: 50%;
}

.growright {
    width: 50%;
}
