@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



* {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

/* body {
    width: 1440px;
} */

.heading {
    background-image: url('./images/bg-hero-desktop.svg');
    max-width: 100%;
    height: 90vh;
    background-color: #EDFBFE;
}

header ul {
    display: flex;
    justify-content: space-between;
}

header ul li {
    text-decoration: none;
    list-style: none;
    display: inline;
    margin: 2%;
}

header ul li button {
    border-radius: 50px;
    padding: 8px 25px 8px 25px;
    font-weight: 400;
    background-color: #fff;
    border-color:  #fff;
    border: 1px solid #fff;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px rgb(223, 223, 223);
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

.flow {
    display: flex;
    margin: 10px;
    height: 90%;
}

.flow .community {
    width: 30%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}

.community button {
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    font-weight: 400;
    background-color: #FD53C0;
    color: #fff;
    border-color:  #FD53C0;
    border: 1px solid #FD53C0;
    cursor: pointer;
    margin-top: 20px;
}

.community p {
    color: #001B23;
    
}

.community{
    margin-top: 10%;
}

.community h1 {
    color: #001B23;
    padding-bottom: 10px;
}


.talk {
    width: 70%;
    padding: 40px;
    background-repeat: no-repeat;
    /* background-image: url('./images/illustration-mockups.svg') !important; */
}


h4 {
    font-family: 'Poppins', sans-serif;
    color: #0A2328;
}

p{
    font-family: 'Open Sans', sans-serif;
    color: #B9BDC0;
    font-size: small;
}

.sec {
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 250px;
    /* width: 100%; */
    width: 100vh;
    /* margin: 20px; */
    margin: auto;
    /* text-align: center; */
    /* justify-items: center; */
    margin-top: 20px;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;

}

.growleft1 {
    width: 60%;
    padding: 40px;
    margin-right: 12%;
    margin-left: 2%;
    margin-top: 4%;
}

.growright {
    max-width: 40%;
}

.growleft2 {
    max-width: 40%;
    padding: 20px;
    margin-left: 6%;
}

.growright2 {
    max-width: 60%;
    padding: 50px;
}

figure {
    max-width: 100%;
}

.seclast{
    margin-bottom: 10%;
}

.end {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 100px;
    /* width: 100%; */
    width: 50vh;
    /* margin: 20px; */
    margin: auto;
    text-align: center;
    justify-items: center;
    margin-top: 10%;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    position: absolute;
    left: 50vh;
    bottom: -124%;

}

.end button {
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    font-weight: 400;
    background-color: #FD53C0;
    color: #fff;
    border-color:  #FD53C0;
    border: 1px solid #FD53C0;
    cursor: pointer;
    margin-top: 20px;
}

footer {
    background-color: #00252E;
    height: 60%;
}

.cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100vh;
    padding-bottom: 2%;
}

.col1 {
    padding: 1%;
    margin-right: 60px;
    margin-left: 30px;
}

.col2 {
    padding: 2%;
    margin-right: 60px;
    padding-top: 55px;
    margin-left: 40px;
}


.col3 {
    padding: 2%;
    margin-right: 60px;
    padding-top: 55px;
    margin-left: 40px;
}


.col4 {
    padding: 2%;
    margin-right: 60px;
    padding-top: 55px;
    margin-left: 40px;
}


.footerli li {
    text-decoration: none;
    text-decoration: none;
    list-style: none;
    color: #B9BDC0;
    
}

.loc {
    display: flex;
    padding: 2px;
}

.icon {
    padding: 10px;
}

.copyright {
    padding: 2%;
    right: 2px;
}



@media screen and (max-width:992px) {
    
}




@media screen and (max-width:800px) {
    body, .heading {
        width: fit-content;
    }

    .heading {
        height: fit-content;
    }

    header {
        padding: 2%;
    }

    .flow {
        display: flex;
        flex-direction: column;
    }

    .flow .community {
        width: 100vh;
    }

    .sec {
        display: grid;
        grid-template-areas: 'a'
                             'b';
        width: fit-content;
        height: fit-content;
    }

    .sec .growright, .sec .growleft2 {
        grid-area: 'a';
    }

    .sec .growleft1, .sec .growright2, .sec .growleft1 {
        grid-area: 'b';
    }

    .end {
        left: 50vh;
        bottom: -100%;
    
    }


}


@media screen and (max-width:992px) {
    
}

